#corpoPrincipal {
    background-color: hsl(0, 0%, 18%);
    position: absolute;
    border-top: 1px solid rgb(68, 66, 66);
    color: white;
    display: flex;
    width: 100%;
    height: 500px;
    top: 70px;
}

#corpoPrincipal img {
    width: 50px;
}

#corpoPrincipal div {
    border: 2px solid blue;
    position: relative;
    text-align: justify;
    /* width: 3520px;*/
    height: 200px;
    top: 50px;
}

#corpoPrincipal aside {
    border: 2px solid blue;
    position: relative;
    top: 260px;
    right: 600px;
    height: 200px;
    display: block;
}


/* figcaption {
    
    word-wrap: break-word;
} */