*{
    margin: 0;
    padding: 0;
}

header{
    /* margin-top:-10px; */
    background-color:#32325b;
    border-bottom: 1px solid blue;
    color: white;
    /* position: fixed; */
    /* width: 99.25%;     */
    height: 60px;
}
header img{
    top: -40px;
    width: 50px;
    position: relative;     
}
figcaption{
    
    width: 450px;
    font-size: 25px;
    margin-top: -80px;
    margin-left: 55px;
}

nav{
    width:350px;
    position: relative;
    top:12px;
    left: 999px;
    margin-right: 10px;
}
nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-left:5px;
    padding: 5px;
    font-size:20px;
    font-weight: bolder;
    text-transform: uppercase;

}

button{
    background-color: #32325b;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;  
    font-weight: bold;  
    text-transform: uppercase;
}
button a{
    text-decoration: none;
    color:white;
}
button:hover {
    background:#323d5b;

}

footer{
    border-top: 1px solid blue;
    background-color:#32325b;
    color: white;
    text-transform: uppercase;
    /* width: 100%; */
    height: 120px;
    padding-top: 10px;
}

footer p {
    border: 2px solid black;    
    font-size: 30px;
    width:150px;
}

footer li{
    list-style-type: none;
    padding-bottom: 5px; 
    padding-top: 5px; 
}
footer aside{
    position: relative;
    /* margin-right: 100px;  */
    top: 5px;
    left: 100px;
    width: 100px;;
}

footer div{
    position: relative;
    margin-left: 1000px;
    top: -90px;
}
footer .redes{
    width: 200px;
}