.planoDeFundo {
    position: static;
    border-top: 1px solid rgb(68, 66, 66);
    display: flex;
    margin-top: 50px;
    height: 500px;
    justify-content: space-around;
}

#problema {
    background-image: url('../img/problema.png');
    background-repeat: no-repeat, repeat;
}

#problema,
#solucao {
    width: 400px;
    height: 400px;
    margin-top: 60px;
    transition: 3s;
    z-index: 10;
}

#problema:hover {
    border: 1px solid rgb(68, 66, 66);
    text-transform: uppercase;
}

#solucao:hover {
    border: 1px solid rgb(68, 66, 66);
    text-transform: uppercase;
}