body {
    background-color: #2D2D2D;
    ;
}

#imgIC {
    border: 2px solid white;
    margin-left: 400px;
}

button {
    background-color: #2D2D2D;
    border: none;
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button a {
    text-decoration: none;
}

button:hover {
    border: 1px solid #444242;
}

#MVV {
    border: 2px solid white;
    display: flex;
}

#MVV li {
    list-style: none;
    margin-left: 5px;
}

aside {
    border: 2px solid white;
    display: flex;
    color: rgba(0, 0, 0, 0);
}

aside div {
    border: 2px solid white;
}